/* responsive.css por | by Wagner Godinho - Atualizado em | Update: 25/04/2021 */

/* Arquivo CSS para adaptar site em telas menores */

/* CSS file to adapt website to smaller screens */

@media screen and (max-width: 768px){
	
	/* .container_header classes */

	.container_header{

		
		padding-bottom: 100px;
		padding-top: 30px;
	}

	.container_header h2{
		color:#D2872C;
		font-weight: bold;

	}

	.container_header .menu{
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		justify-content: end;
		width:3vw;
	}

	.container_header .menu ul a
	{
		display: inline-flex;
		visibility: hidden;
	}

 	.container_header .mobile_menu a {
	  	display: flex;
	  	visibility: visible;
	  	background-image: url("../img/menu.png");
	  	background-repeat: no-repeat;
	  	align-items: middle;
	  	margin-top: -30px;
	  	width: 50px;
	  	height: 50px;

	}

	.container_header .mobile_menu a:hover {
		box-shadow: all;

	}

	/* .container_slider classes */
	
	.container_slider{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding-left: 0px;
	}

	.slider_image{
		text-align: center;
		margin-left: 0px;
		position: relative;
		display: block; 
		height: auto;
		z-index: 0;
		float: none;
	}

	.container_slider h2{
		width: 80%; 
		text-align: center;
		font-size: 2.5em;
		padding-top: 40px;
	}

	.container_slider p{
		font-size: 5vw;
		text-align: center;
	}

	.container_slider button{
		font-size: 5vw;
		padding: 3vw 21vw 3vw 21vw;
	}
}


/* animações / animations  */

@keyframes move {

	0%{margin: 0px -100px 0px -100px; opacity: 0;}
}


