*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

html{
	overflow-x: hidden;
	scrollbar-width: none;
	-ms-overflow-style: none;
}

body{
	font-family: Roboto, sans-serif;
}

.container_header{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding: 40px 30px 100px 40px;
	animation-name: move;
	animation-duration: 1s;
}

.container_header h2{

	color:#D2872C;
	font-weight: bold;
	font-size: 2em;
}

.container_header .menu ul{
	display: flex;
	align-items: center;
	list-style-type: none;
	font-size: 30px;	
}

.container_header .menu ul li{
	padding-right: 20px;
}

.container_header .menu ul li a{
	text-decoration: none;
	color:#000;
	font-weight: 400;
	transition: 1s;
}

.container_header .menu ul li a:hover{
	color:#D2872C;
	text-decoration-color: #D2872C;


}

.container_header .mobile_menu div {
  display: inline;
  visibility: none;
} 

.container_slider{
	padding-left: 7vw;
	padding-bottom: 5vw;
	color:#766F68;
	background-size: 65%;
	animation-name: opac;
	animation-duration: 2s;
}

.slider_image{
	position: absolute;
	margin-left: 28%;
	width: 66vw;
	max-width: 100%;
	height: auto;
	float: right;
	z-index: -1;
	animation-name: opac;
	animation-duration: 2s;
}

.container_slider h2{
	width:50%;
	font-size: 5.4vw;
	padding-bottom: 30px;
}

.container_slider p{
	font-size: 2.1vw;
	padding-bottom: 60px;
}

.container_slider button{
	background-color: #D2872C;
	font-size: 2.5vw;
	font-weight: bold;
	color: #fff;
	padding: 1vw 5vw 1vw 5vw;
	border-radius: 15px;
	transition: 1s ease all;
	cursor: pointer;
}


.container_slider button:hover{

	background-color: #A85400;

	
}

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* Animações */

@keyframes move {

	0%{margin: 0px 50px 0px 0px; opacity: 0;}
}

@keyframes opac{

	0%{opacity: 0;}
}